* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: white;
  --ff-color: #323238;
  --card-color: #02799D;
  --card-dark: #0A3442;
  
  font-size: 62.5%;
}

body {
  display: flex;
  position: relative;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  align-items: center;
  color: var(--ff-color);
}

main {
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: space-between;
  align-items: center;
  gap: clamp(3rem, 5rem + 10vw, 19.2rem);
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button.soundOn svg path {
  fill: var(--bg-color);
}
.sound-effect button.soundOn {
  background-color: var(--card-color);
}
.soundOn #range {
  background-color: var(--bg-color);
}
.soundOn #range::-webkit-slider-thumb {
  background-color: var(--bg-color);
}

.hide {
  display: none;
}


.timer-wrapper {
  width: fit-content;
  font-size: clamp(6rem, 6rem + 10vw, 11rem);
}

.timer {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.controls {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.sound-effect {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3.2rem;
}

.sound-effect  button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 13.8rem;
  height: 15.2rem;
  border-radius: 2.4rem;
  justify-content: space-evenly;
  background: #E1E1E6;
}

.sound-effect input {
  width: 9rem;
  height: 4px;
  border-radius: 5px;
  bottom: 2rem;
  z-index: 1;
  background: #323238;
  appearance: none;
}

.sound-effect input::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #323238;
}

header {
  position: absolute;
  top: 6rem;
  right: 6rem;
}

/* ======================= DARK MODE ===================*/

.darkBody {
  background-color: #121214;
}

.dark  {
  color: white;
  fill: white;
}

.dark-mode {
  display: none;
}

.darkTimer {
  color: white;
}

.darkControls svg path {
  fill: white;
}


/* ================= DARK BUTTON ==================== */
.darkSound button {
  background-color: #29292E;
}

.dark-button path:nth-child(1) {
  fill: var(--bg-color);
}

button.dark-button {
  background-color: #29292E;
}

.dark-button #range {
  background-color: var(--bg-color);
}

.dark-button #range::-webkit-slider-thumb {
  background-color: var(--bg-color);
}


/* ======================================*/
button.soundOn.dark-button {
  background-color: var(--card-dark);
}

